body {
background-image: url("https://media4.s-nbcnews.com/j/msnbc/components/video/201609/a_ov_pepe_160928.nbcnews-ux-1080-600.jpg");
color: #FF69B4;
background-color: red;
}

#texttrash {
background-color: yellow;
color: red;
width: 1000px;
}

h1 {
color: red;
}

h3 {
color: yellow;
}

#hey {
color: green;
background-image: url("https://s-media-cache-ak0.pinimg.com/originals/f5/05/24/f50524ee5f161f437400aaf215c9e12f.jpg");
width: 300px;
}

.right {
position:absolute;
right:0; top:92px; bottom: 0;
width: 300px;
background-color: blue;
float: right;
}

html {
font-family: verdana;
}
